U1/U1_T2_XML/ej2/ej2.dtd

<!ELEMENT students (student+)>
<!ELEMENT student (name?, address, phone?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (street, number, city, province)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT province (#PCDATA)>
<!ELEMENT phone (#PCDATA)>

<!ATTLIST student dni CDATA #REQUIRED>