U1/U1_T2_XML/ej1/ej1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault ="qualified">
    <xs:element name="iceCreamShop">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iceCream">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="chocolate" type="xs:integer"/>
                            <xs:element name="strawberry" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>